<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Registers user-scoped settings for ApplicationSettingsBase. Default values come from Settings.Designer.cs (DefaultSettingValueAttribute). -->
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Foreman.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Foreman.Properties.Settings />
  </userSettings>
</configuration>
