<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Foreman.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
    <userSettings>
        <Foreman.Properties.Settings>
            <setting name="CurrentPresetName" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultModuleOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinorGridlines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MajorGridlines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AltGridlines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreAssemblerStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DynamicLineWidth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecipeNameOnlyFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LevelOfDetail" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultAssemblerOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultRateUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSaveFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowRecipeToolTip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUnavailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockedRecipeEditorPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NodeCountForSimpleView" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="UseRecipeBWfilters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWarningArrows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowErrorArrows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AbbreviateSciPacks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RoundAssemblerCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableExtraProductivityForNonMiners" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDisconnectedArrows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultNodeDirection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FlagOUSuppliedNodes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOUSuppliedArrows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconsOnlyView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconsSize" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="SimplePassthroughNodes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArrowsOnLinks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForemanVersion" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SmartNodeDirection" serializeAs="String">
                <value>True</value>
            </setting>
        </Foreman.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.18.0.0" newVersion="3.18.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
